/* Color Theme Swatches in Hex */
.purple { color: #887BA6; }
.lavendar { color: #D6C9F2; }
.yellow { color: #F2E5A0; }
.white { color: #F2F0EB; }
.coral { color: #F28379; }

html, body {
    height: 100%; 

}

body {
    font-family: 'Roboto Mono', monospace;
     background-image: linear-gradient(180deg, #D6C9F2, transparent );
    background-color: #887BA6;
    background-repeat: no-repeat;
    background-size: contain;
}

h1, h2 {
    color: #F28379;
    
}

h3 {
    color:#F2F0EB;
}

ul {
    padding: 8px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
}

ul li {
    list-style-type: none;
}

ul li a{
    text-decoration: none;
    line-height: 300%;
    color: #887BA6;
    background-color: rgba( 242, 229, 160, 0.8);
    padding: 8px 16px;
    margin: 32px 8px;
    border-radius: 20px;
    transition: 0.8s;
}

ul li a:hover,
ul li a:active {
  background-color:#F28379 ;
  color: #F2F0EB;
}
.container.title{
    
}
.dropdown-content{
    font-size: 16px;
    color:#887BA6;
    margin: 0px 26px;
    padding: 8px;
    border-radius:6px;
    background-color: rgba( 242, 229, 160, 0.8);
}

@media screen and (max-width: 700px){
    ul {
    display: flex;
    flex-direction: column;
    justify-content:space-around;
  }
  ul li {
      margin-bottom:20px;
  }
  ul li a {
      line-height: 1.6;
  }
}




